<!-- this template is used as the display page for the retrieved information -->
<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% block styles %}
        {{ bootstrap.load_css() }}
      {% endblock %}
      <style>
        body {
          background-image: url(https://imageio.forbes.com/specials-images/imageserve/6060f8b5b0d4032713a5f74f/0x0.jpg?format=jpg&width=1200);
          background-size: cover;
        }
        h1 {
          text-align: center;
        }
        h2 {
          color: blue;
        }
      </style>
      <title>Final Project </title>
    {% endblock %}
  </head>
<body>
  {% block content %}
  <div class="page-header bg-primary">
    <h1 style="color: white; padding: 15px" > Gas Price Finder </h1>
  </div>
  <br><br>
  <h2 style="text-align: center;"> Results </h2>
  <a href="{{ url_for('index') }}" style="text-align: center">Take me home</a>
  <br><br>
  {%for i in range(0, len)%}
    <div class="card">
      <div class="card-header">
        {{names[i]}}
      </div>
      <div class="card-body">
        
        <h5 class="card-title">${{prices[i]}}</h5>
        <p class="card-text">{{addresses[i]}}</p>
        
        <p class="card-text">Distance: {{distances[i]}}</p>
        </div>
    </div>
    <br><br>
  {%endfor%}
  {% endblock %}
</body>
</html>