<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% block styles %}
        {{ bootstrap.load_css() }}
      {% endblock %}
      <title>Final Project </title>
    {% endblock %}
  </head>
<body>
  {% block content %}
  <div class="page-header bg-primary">
    <h1 style="color: white; padding: 15px" > Example Page Header </h1>
  </div>
  <br><br>
  <h2 style="text-align: center;"> Results </h2>
  <br><br>
  <div class="card">
    <div class="card-header">
      Store Name
    </div>
    <div class="card-body">
      <p class="card-text">{{gasType}}</p>
      <h5 class="card-title">Gas Price</h5>
      <p class="card-text">Address</p>
      <p class="card-text">{{zipNew[-1]}}</p>
      <a href="#" class="btn btn-primary">View Location</a>
      </div>
      <a href="{{ url_for('index') }}" class="card-link">Take me home</a>
  </div>
  {% endblock %}
</body>
</html>